.card{
	margin-top: 20px;
}

.dropdown-menu_text{
	text-align: center;
}

.body_btn{
	margin: 5px;
}

.commnet{
	margin-top: 20px;
}

.collapse{
	margin-bottom: 20px;
}

.list-group{
	margin-top: 20px;
	margin-bottom: 20px;
}

.show_btns{
	margin-top: 5px;
}

.title_name{
	font-size: 17px;
	top: 0;
}
#nicoscreen{
	width: 1024px;
	height: 576px;
	text-align: center;
}

#comment_list{
	width: 1024px;
}

#comment_text{
	width: 934px;
	height: 36px;
}